* {
    color: rgb(220, 60, 90);
    font-family: 'Arial Nova', Helvetica, sans-serif;
    font-size: 16pt;
    margin: 0;
    padding: 0;
    font-weight: normal;
    text-decoration: none;
}

body {
    background-color: white;
    margin: 1rem auto;
    width: 70%;
}

.nav {
    text-decoration: none;
    border-bottom: 1px solid rgb(220, 60, 90);
    transition: border-width .2s;
    width: 100%;
}

.nav:visited {
    border-color: rgb(220, 60, 90);
}

.nav:hover {
    border-width: 5px;
}

.nav:active {

}

header {
    display: grid;
    grid-template-columns: 20% 70% 10%;
    margin-bottom: 4rem;
}

#name {

}

#resume {
    text-align: right;
}

#contact {
    text-align: right;
}

main {
    display: grid;
    grid-gap: 3rem;
}

h1 {
    font-size: 24pt;
}

h2 {
    font-size: 18pt;
}

figure {
    width: 100%;
    margin: 0 auto;
}

figcaption {
    font-size: 10pt
}

figcaption a{
    font-size: 10pt;
    text-decoration: underline;
}

.project a {
    border: 0px solid rgb(220, 60, 90);
    transition: border-width .2s;
}

.project a:visited {
    
}

.project a:hover {
    border-width: 5px;
}

.project a:active {
    
}

img {
    width: 100%;
}

p {
    font-size: 14pt;
}

.grid {
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 1fr 1fr 1fr;
}

.project {
    display: grid;
    grid-gap: 5%;
}

footer {

}