* {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Segoe UI', 'Helvetica', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.66);
    font-size: 1.05em;
}

body {
    opacity: 0;
    transition: opacity .25s;
}

/* Header/nav */
header {
    width: 100%;
    padding-top: 10px;
}

#headwrap {
    width: 360px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 0;
    padding-bottom: 10px;
}

#projnav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 300px;
    margin: 0 auto 10px;
    grid-gap: 10px;
    padding-bottom: 20px;
}

#projnav img {
    width: 90px;
}

#monogram {
    height: 65px;
    width: 65px;
    margin: 0 auto;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 250px;
    margin: 10px auto 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    grid-gap: 20px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    font-size: 15pt;
    color: rgba(0, 0, 0, 0.66)
}

.selected {
    height: 3px;
    background-color: #bb133e;
    margin-top: 4px;
}

.unselected {
    height: 3px;
    background-color: rgb(167, 167, 167);
    margin-top: 4px;
    transition: background-color .3s;
}

nav ul li a:hover .unselected{
    background-color: #bb133e;
}

/* Main content */
main {
    width: 300px;
    display: grid;
    grid-gap: 20px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-weight: normal;
    font-size: 18pt;
}

img {
    display: block;
    width: 300px;
    margin: 0 auto;
    border: 2px solid #0052A5;
}

a img {
    border: 2px solid #bb133e;    
}

iframe {
    display: block;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    border-style: solid;
    border-color: #0052A5;
}

p {
    width: 100%;
    margin: 0 auto;
    text-indent: 30px;
    font-size: 14pt;
}

/* Footer */
footer {
    padding: 20px 0;
}

#footwrap {
    width: 360px;
    margin: 0 auto;
    display: grid;
    grid-gap: 0;
    grid-auto-flow: column;
}

footer div {
    color: #bb133e;
    font-size: 11pt;
}

footer div:first-of-type {
    text-align: right;
}

footer div:nth-child(2) {
    text-align: center;
}

footer div:last-of-type {
    text-align: left;
}

footer a {
    text-decoration: none;
    color: #bb133e;
}

footer a:hover {
    color: rgba(0, 0, 0, 0.66);
}

/* Media queries */
@media screen and (min-width: 600px) {
    #headwrap {
        width: 580px;
        grid-template-columns: 20% 60% 20%;
    }

    nav ul {
        width: 300px;
    }

    nav ul li a {
        font-size: 18pt;
    }

    main {
        width: 520px;
    }

    iframe {
        height: 800px;
    }

    .projectpic {
        width: 520px;
    }
}

@media screen and (min-width: 800px) {

}

/* USA flag red: #bb133e */
/* USA flag blue: #0052A5 */