@font-face {
    font-family: 'FiraCode-VF';
    src:  url(../fonts/FiraCode-VF.woff2) format('woff2-variations');
}

@font-face {
    font-family: 'MajorMonoDisplay';
    src:  url(../fonts/MajorMonoDisplay-Regular.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'FiraCode-VF';
    font-size: 14pt;
    color: #ddd;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* #bio {
    color: #FFA2A2
}

#ux {
    color: #A2FFFF;
} */

h1, h2 {
    font-family: 'MajorMonoDisplay';
    font-weight: 100;
    font-size: 1.5rem;
    color: #FFA2A2;
}

header {
    width: 100%;
    display: grid;
    position: fixed;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    z-index: 1;
    backdrop-filter: blur(5px);
}

nav {
    margin: 1rem auto;
    width: 90%;
    /* display: grid;
    grid-auto-flow: column;
    grid-gap: 2rem; */
}

nav a {
    font-family: 'MajorMonoDisplay';
    font-weight: 100;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 0 1rem;
}

nav a:first-child {
    color: #FFA2A2;
    float: left;
}

nav a:last-child {
    float: right;
}

body {
    width: 100%;
    background-color: #111;
    display: grid;
    /* background-image: url(../images/galaxy.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}

.body-wrap {
    width: 90%;
    margin: 0 auto;
}

section {
    margin: 5rem auto;
    padding: 1rem;
    display: grid;
    grid-gap: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    /* backdrop-filter: blur(10px) brightness(50%); */
}

@media screen and (min-width: 500px) {
    nav {
        grid-gap: 4rem;
        width: 60%;
    }

    nav a {
        font-size: 1.5rem;
    }

    h1, h2 {
        font-size: 1.5rem;
    }

    section {
        margin: 5rem auto;
    }

    .body-wrap {
        width: 60%;
    }
}