body {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJElEQVQoU2NkIBIwEqmOYcQplGJgYHhGyNcgRWBASCFIDdhEAGRNAiUP/LD6AAAAAElFTkSuQmCC) repeat;
    height: 100vh;
}

div {
    width: 50%;
    display: grid;
    grid-auto-flow: rows;
    margin: 0 auto;
    padding: 0 1fr;
}